@model Aiesec.Web.Models.DataTable<Aiesec.Model.Response.Administration.MemberCommittee>
@{
    Layout = "_Layout";
    ViewData["Title"] = _sharedLocalizer.MemberCommittee;
}
@section styles{
    <link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <span class="svg-icon svg-icon-primary svg-icon-2x">
                    <span class="svg-icon svg-icon-primary svg-icon-2x">
                        <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo6\dist/../src/media/svg/icons\Home\Building.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M13.5,21 L13.5,18 C13.5,17.4477153 13.0522847,17 12.5,17 L11.5,17 C10.9477153,17 10.5,17.4477153 10.5,18 L10.5,21 L5,21 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,21 L13.5,21 Z M9,4 C8.44771525,4 8,4.44771525 8,5 L8,6 C8,6.55228475 8.44771525,7 9,7 L10,7 C10.5522847,7 11,6.55228475 11,6 L11,5 C11,4.44771525 10.5522847,4 10,4 L9,4 Z M14,4 C13.4477153,4 13,4.44771525 13,5 L13,6 C13,6.55228475 13.4477153,7 14,7 L15,7 C15.5522847,7 16,6.55228475 16,6 L16,5 C16,4.44771525 15.5522847,4 15,4 L14,4 Z M9,8 C8.44771525,8 8,8.44771525 8,9 L8,10 C8,10.5522847 8.44771525,11 9,11 L10,11 C10.5522847,11 11,10.5522847 11,10 L11,9 C11,8.44771525 10.5522847,8 10,8 L9,8 Z M9,12 C8.44771525,12 8,12.4477153 8,13 L8,14 C8,14.5522847 8.44771525,15 9,15 L10,15 C10.5522847,15 11,14.5522847 11,14 L11,13 C11,12.4477153 10.5522847,12 10,12 L9,12 Z M14,12 C13.4477153,12 13,12.4477153 13,13 L13,14 C13,14.5522847 13.4477153,15 14,15 L15,15 C15.5522847,15 16,14.5522847 16,14 L16,13 C16,12.4477153 15.5522847,12 15,12 L14,12 Z" fill="#000000" />
                                <rect fill="#FFFFFF" x="13" y="8" width="3" height="3" rx="1" />
                                <path d="M4,21 L20,21 C20.5522847,21 21,21.4477153 21,22 L21,22.4 C21,22.7313708 20.7313708,23 20.4,23 L3.6,23 C3.26862915,23 3,22.7313708 3,22.4 L3,22 C3,21.4477153 3.44771525,21 4,21 Z" fill="#000000" opacity="0.3" />
                            </g>
                        </svg><!--end::Svg Icon-->
                    </span>
                </span>
            </span>
            <h3 class="card-label">@_sharedLocalizer.MemberCommittees</h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a href="@Settings.Routes.MemberCommittee.Insert" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>@_sharedLocalizer.NewMemberCommittee
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Search Form-->
        <form id="search-paremeters">
            <div class="row mb-8">
                <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <label>@_sharedLocalizer.Season:</label>
                    <input name="season" type="text" class="form-control kt-input" placeholder="@_sharedLocalizer.Season" data-col-index="0" autocomplete=“off”>
                </div>
                <div class="col-lg-3 kt-margin-b-10-tablet-and-mobile">
                    <div class="form-group">
                        <label>@_sharedLocalizer.Active</label>
                        <div class="radio-inline">
                            <label class="radio radio-primary">
                                <input type="radio" checked="checked" name="active" value="" />@_sharedLocalizer.All
                                <span></span>
                            </label>
                            <label class="radio radio-success">
                                <input type="radio" name="active" value="1"> @_sharedLocalizer.Active
                                <span></span>
                            </label>
                            <label class="radio radio-danger">
                                <input type="radio" name="active" value="0"> @_sharedLocalizer.Inactive
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-lg-12">
                    <button id="datatable-search" title="@_dataTableLocalizer.SearchTitle" class="btn btn-primary btn-brand--icon">
                        <span>
                            <i class="la la-search"></i>
                            <span>@_sharedLocalizer.Search</span>
                        </span>
                    </button>
                    &nbsp;&nbsp;
                    <button id="datatable-reset" title="@_dataTableLocalizer.ResetTitle" class="btn btn-secondary btn-secondary--icon">
                        <span>
                            <i class="la la-close"></i>
                            <span>@_sharedLocalizer.Reset</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-checkable dataTable dtr-inline collapsed invisible" id="datatable" role="grid" aria-describedby="kt_datatable_info">
                        <thead>
                            <tr class="text-center align-middle" role="row">
                                <th></th>
                                <th>@_sharedLocalizer.Season</th>
                                <th>@_sharedLocalizer.DateOfEstablishment</th>
                                <th>@_sharedLocalizer.Active</th>
                                <th>@_sharedLocalizer.Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center align-middle">
                                <th></th>
                                <th>@_sharedLocalizer.Season</th>
                                <th>@_sharedLocalizer.DateOfEstablishment</th>
                                <th>@_sharedLocalizer.Active</th>
                                <th>@_sharedLocalizer.Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.data)
                            {
                                <tr class="text-center align-middle">
                                    <td>@item.EncryptedId</td>
                                    <td>@item.Season</td>
                                    <td>@item.EstablishmentDate.ToString(_sharedLocalizer.DateFormat)</td>
                                    <td>@item.Active</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end: Datatable-->
        </div>
    </div>
</div>
<!--end: Datatable -->
@section Scripts
{
    <script src="~/assets/plugins/custom/datatables/datatables.min.js"></script>
    <script>
         var DataTable = {
                Init: function () {
                    var datatable = $("#datatable");
                    datatable.DataTable({
                        rowId: 'encryptedId',
                        processing: true,
                        serverSide: true,
                        deferLoading: '@Model.recordsTotal',
                        deferRender: true,
                        searching: false,
                        responsive: true,
                        autoWidth: true,
                        orderMulti: false,
                        orderCellsTop: true,
                        pagingType: "full_numbers",
                        lengthMenu: [10, 15, 25, 50],
                        initComplete: function () {
                            datatable.removeClass("invisible").css({ opacity: 0.0, visibility: "visible" }).animate({ opacity: 1 }, 250);
                        },
                        language: {
                            lengthMenu: '_MENU_',
                            info: `@_dataTableLocalizer.Showing @_dataTableLocalizer.From  _START_ @_dataTableLocalizer.To _END_ @_dataTableLocalizer.Of _TOTAL_ @_dataTableLocalizer.Entries`,
                            paginate: {
                                first: `@_dataTableLocalizer.First`,
                                last: `@_dataTableLocalizer.Last`,
                                next: `@_dataTableLocalizer.NextPage`,
                                previous: `@_dataTableLocalizer.PreviousPage`
                            },
                            processing: `<div class="spinner spinner-sm spinner-success spinner-right">@_sharedLocalizer.Loading</div>`
                        },
                        ajax: {
                            url: "@Url.Action("GetData", "LocalCommittees")",
                            type: "POST",
                            dataType: "json",
                            data: function (data) {
                                data.searchParams = $("#search-paremeters").serializeObject();
                                return data;
                            },
                            headers: { 'RequestVerificationToken': gettoken() }
                        },
                        columns: [
                            {
                                data: "encryptedId",
                                targets: 0,
                                visible: false
                            },
                            {
                                data: "season",
                                targets: 1,
                                name: "@nameof(Aiesec.Model.Response.Administration.LocalCommittee.City.Name)",
                                className: "text-center align-middle",
                                autoWidth: true,
                            },
                            {
                                data: "active",
                                targets: 2,
                                name: "@nameof(Aiesec.Model.Response.Administration.LocalCommittee.EstablishmentDate)",
                                className: "text-center align-middle",
                                autoWidth: true,
                                render: function (data, type, row, meta) {
                                    return `${$.format.date(data, "@_sharedLocalizer.DateFormat")}`;
                                }
                            },
                            {
                                data: "active",
                                targets: 4,
                                name: "@nameof(Aiesec.Model.Response.Administration.LocalCommittee.Active)",
                                className: "text-center align-middle",
                                autoWidth: true,
                                render: function (data, type, row, meta) {
                                    if (data == "True" || data == true) {
                                        return `<span class="label label-success label-dot mr-2"></span>
                                    <span class="font-weight-bold text-success">@_sharedLocalizer.Active</span>`
                                    } else {
                                        return `<span class="label label-danger label-dot mr-2"></span>
                                    <span class="font-weight-bold text-danger">@_sharedLocalizer.Inactive</span>`
                                    }
                                }
                            },
                            {
                                targets: -1,
                                name: "@nameof(Aiesec.Model.Response.Administration.LocalCommittee.EncryptedId)",
                                className: "text-center align-middle",
                                autoWidth: true,
                                orderable: false,
                                render: function (data, type, row, meta) {
                                    return `
                            <a title="@_sharedLocalizer.Details" href="@Settings.Routes.MemberCommittee.Details/${row.encryptedId}" ajax-add="modal-lg" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-info-circle"></i></a>
                            <a title="@_sharedLocalizer.ActivateDeactivate" href="@Settings.Routes.MemberCommittee.ChangeActiveStatus/${row.encryptedId}" encryptedId="${row.encryptedId}" ajax-change-active-status="true" class="btn btn-sm btn-clean btn-icon btn-icon-md p-0 m-0"><i class="la la-toggle-on"></i></a>
                            <span class="dropdown">
                                <a title="@_sharedLocalizer.Options" href="" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown" aria-expanded="true">
                                <i class="la la-ellipsis-h"></i>
                                </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item navi-link" href="@Settings.Routes.MemberCommittee.Edit/${row.encryptedId}"><span class="navi-icon"><i class="flaticon-edit-1"></i><span><span class="navi-text">&nbsp;&nbsp;@_sharedLocalizer.Update</span></a>
                             <a class="dropdown-item navi-link" href="@Settings.Routes.MemberCommittee.Delete/${row.encryptedId}" encryptedId="${row.encryptedId}" ajax-delete="true""><span class="navi-icon"><i class="flaticon-delete"></i><span><span class="navi-text">&nbsp;&nbsp;@_sharedLocalizer.Delete</span></a>
                            </div>
                            </span>
                          `;
                                }
                            }
                        ]
                    });

                    return datatable;
                }
        }

        var DataTableMethods = {
            DataTableSearch: function () {
                $("#datatable-search").on("click", function (e) {
                    e.preventDefault();
                    $("#datatable").DataTable().ajax.reload();
                });
            },
            DataTableReset: function () {
                $("#datatable-reset").on("click", function (e) {
                    e.preventDefault();
                    $("#search-paremeters").trigger("reset");
                    $("#datatable").DataTable().ajax.reload();
                });
            },
            NotifyAdd: function () {
                var _icon, _title;
                if ("@(ViewBag.Model)" == "True") {
                    _icon = "success";
                    _title = "@ViewBag.Message";
                }
                else if ("@(ViewBag.Model)" == "False"){
                    _icon = "error";
                    _title = "@ViewBag.Message";
                }
                if("@(ViewBag.Model)")
                Swal.fire({
                    position: "top-right",
                    icon: _icon,
                    title:_title,
                    showConfirmButton: false,
                    timer: 1500
                });
            },
            Init: function () {
                this.DataTableSearch();
                this.DataTableReset();
                this.NotifyAdd();
            }
        }

        $(document).ready(function () {
            DataTable.Init();
            DataTableMethods.Init();
        });
    </script>
}
